## EX1 : ask user to enter lower case string and convert all characters with even index to upper case ?

In [10]:
var = input("Enter your Name").lower()
a = list(enumerate(var))
out = []
for i in range(len(a)):
    if a[i][0] % 2 == 0 :
        out.append(a[i][1].upper())
    else:
        out.append(a[i][1])

In [7]:
a[2][0]

2

In [14]:
string = ''.join(out)

In [15]:
string

'AhMeD'

## EX2 : you have a list of integers and ask user to enter number and if number exist inside list print exist else not exist ?

In [17]:
lst = [1,2,3,4,5]

var = int(input("Enter your Number"))

if var in lst:
    print("exist")
else:
    print("not exist")

exist

## EX3:  you have a list of integers and ask user to enter number and print number of occurrences of this number inside list ?

In [18]:
lst = [1,2,3,4,5]

lst.count(1)

1

## EX4: write a program to find number of occurrences for each item in list and store that output in dictionary ?

## EX5: you have a list and number search in list to find 2 items there sum is that number ?

In [ ]:
lst = [1,2,3,4,5]

var = int(input())
num1 = []
num2 = []

for i in lst:
    for j in lst:
        if var == i+j:
            num1.append(i)
            num2.append(j)
            
            print(i , j)

1 4
2 3
3 2
4 1

## EX6: you have a string you are asked to how many numbers , how many char , how many special char in it 
* sample input 'abc123+-\z|'
* number of numbers = 3
* number of char = 4
* number of special char = 4

## EX7: For this dict find max city for each country
* sample output (Egy -- > Damietta) --------- (US -- > California) .............................
* countries = {'Egy' : {'Cairo' : 1200 , 'Luxor' : 198 , 'Giza' : 1987 , 'Damietta' : 19870}, 'US' : {'new Yourk' : 15500 , 'Los Angeles' : 1650 , 'California' : 18062} , 'UK' : {'London' : 1800 , 'Bristol' : 1890 , 'Manchester' : 19850} , 'france' : {'Paris' : 19820 , 'Marseille' : 1980 , 'Lyon' : 19875 } }

In [31]:
countries = {'Egy' : {'Cairo' : 1200 , 'Luxor' : 198 , 'Giza' : 1987 , 'Damietta' : 19870}, 'US' : {'new Yourk' : 15500 , 'Los Angeles' : 1650 , 'California' : 18062} , 'UK' : {'London' : 1800 , 'Bristol' : 1890 , 'Manchester' : 19850} , 'france' : {'Paris' : 19820 , 'Marseille' : 1980 , 'Lyon' : 19875 } }

w={}
for i ,x in countries.items():
    num=0
    city=""
    for g ,z in x.items():
        if z>num:
            num=z
            city=g
    w[i]=city
w

{'Egy': 'Damietta', 'US': 'California', 'UK': 'Manchester', 'france': 'Lyon'}

## EX8 : For this dictionary find total price for meal ?

In [5]:
food={"Tomato":24,"salad":5,"botato":30,"chekin":80}
x=0
for i ,g in food.items():
   x+=g
x

139

## EX9: ask user to enter integer number and show whether this number is prime or not ?

In [35]:
r=int(input())
def is_prime(r):
    if r in [1,2,3]:
        return True
    return r%2!=0 and r%3!=0
is_prime(r)

 17

True

## EX10 : you have a list you are asked to reverse this list ?

In [39]:
x=[12,"mohamed",True , 0, 23]
x=list(reversed(x))
x

[23, 0, True, 'mohamed', 12]

## EX11: Find Greatest Common divisor between two numbers

In [44]:
x=list(map(int,input().split()))
def divisor(x,y):
    e=[]
    for i in range(2,y+1):
        if x%i==0 and y%i==0:
            e.append(i)
    if len(e)!=0:
        return max(e)       
    else:
        return "not found"
print(divisor(max(x),min(x)))

 35 100

5

## EX12: Write a program that repeatedly collects positive integers from the user, stopping when the user enters a negative number or zero. After that, output the product of all positive entries.

In [57]:
from functools import reduce
r=[]
z=0
while z==0:
    d=int(input())
    if d>0:
        r.append(d)
    else:
        z=1
d=reduce(lambda x,y:x*y , r)
print("the product is:",d)

 5
 6
 14
 0

the product is: 420

## EX13: Write a program that accepts from the user a list of positive integers and displays the number of even and odd values in the list. The program accepts numbers from the user until he enters a negative value.

In [61]:
odd=[]
even=[]
z=0
while z==0:
    d=int(input())
    if d>=0:
       if d%2==0:
           even.append(d)
       else:
           odd.append(d)
    else:
        z=1
print("odd",odd)
print("even",even)

 5
 1
 2
 14
 13
 -1

odd [5, 1, 13]
even [2, 14]

## EX14: Write a program that asks the user to enter an integer and reports all divisors in ascending order.

In [ ]:
s=int

## EX15: Write a program that accepts numbers from the user and then tells the maximum two numbers of them. The results should be displayed when the user enters a negative number